<a href="https://colab.research.google.com/github/dhanarajappu456/tensor_flow_familiarize/blob/main/feature_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Feature_Selction

In [96]:
import tensorflow as tf
from sklearn.feature_selection import SelectKBest,chi2
import numpy as np
import pandas as pd
data=pd.read_csv('train.csv')
data.head(10)
x,y=data.iloc[:,:20],data.iloc[:,-1]
selector=SelectKBest(score_func=chi2,k=10)
best = selector.fit(x,y)

score=pd.DataFrame(best.scores_)
features=pd.DataFrame(x.columns)
final_score=pd.concat([features,score],axis=1)
final_score.columns=['feature','ranking']
sorted=final_score.nlargest(10,columns='ranking')
sorted

          feature        ranking
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878